name: HTML format & validation

on:
  push:
    branches:
      - master
    paths:
      - "**/*.html"
      - ".github/workflows/**"
  pull_request:
    branches:
      - master
    paths:
      - "**/*.html"
      - ".github/workflows/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  html-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HTML5 Validator
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: .
          log_level: WARNING
          format: text
